
body{
    background-color: #E6E9F2;
    padding-top: 20px ;
}
.container{
    padding: 0 30px;
}
h3{
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #3A4562;
}
.font-roboto{
    font-family: "Roboto";
}

@media(max-width: 768px){

    h3{
        font-size: 18px;
        font-weight: 400;
    }

}
